html,
body {
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.solid-button {
  cursor: pointer;
  background-color: #007aff;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem;
}

.solid-button:hover {
  opacity: 0.8;
}

input {
  font-size: 0.875rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.all-container {
  display: flex;
  height: 100%;
}


/** Navigation **/

.nav-container {
  /*	display: none;*/
  flex: 0 1 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
}

nav {
  max-width: 300px;
  height: 100%;
}

@media (min-width: 1024px) {
  .nav-container {
    display: flex;
    position: static;
  }
}

nav {
  background-color: rgb(244, 244, 245);
  padding: 1rem;
  flex-direction: column;
  overflow: auto;
}

.nav-div {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.nav-div input {
  background-color: #fff;
  flex: 0 1 200px;
  border: 1px solid rgb(233, 233, 234);
}

.nav-div-name {
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  margin: 1rem 0;
}

.nav-div-logo {
  flex: 0 0 1.5rem;
  margin-right: 0.75rem;
}

.nav-div-heading {
  font-weight: 600;
}

.nav-div-labeled-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.nav-div-labeled-input label {
  font-weight: 500;
  font-size: 0.925rem;
  color: rgb(110, 110, 118);
}

.nav-div-button {
  display: flex;
  justify-content: space-around;
  margin-top: 0.25rem;
}

.nav-div-button button {
  flex: 0 1 90%;
}


/** Main **/

.main-container {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
  /* Prevents sticky div from jumping */
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}

.header-nav-toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  border: none;
  background: inherit;
  padding: 0.25rem;
}

@media (min-width: 1024px) {
  .header-nav-toggle-button {
    display: none;
  }
}

main {
  margin: 0 auto;
  height: 100%;
  overflow: scroll;
}

.chat-container {
  height: 100%;
}

.chat-area {
  max-width: 650px;
  margin: 0 auto;
  padding: 0.75rem;
}

.chat-line {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  max-width: 90%;
  clear: both;
}

@media (min-width: 640px) {
  .chat-line {
    max-width: 75%;
  }
}

.ai-chat-line {
  float: left;
  border-bottom-left-radius: 0;
  background-color: rgb(244, 244, 245);
}

.user-chat-line {
  float: right;
  border-bottom-right-radius: 0;
  background-color: #007aff;
  color: #fff;
}

.chat-filler {
  clear: both;
  height: 7.5rem;
}


/** User Input **/

.user-input-container {
  position: absolute;
  background: #fff;
  border-top: 1px solid #d9d9e3;
  width: 100%;
  bottom: 0;
  padding: 1rem 16px 1rem;
}

@media (min-width: 768px) {
  .user-input-container {
    background: linear-gradient(to top, #fff, #fff 50%, rgba(255, 255, 255, 0));
    border-top: none;
    width: calc(100% - 32px);
    margin: 0 16px;
    padding: 2rem 16px 1.5rem;
  }
}

.user-input-area {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: stretch;
  border: 1px solid #d9d9e3;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 1.25rem;
}

.user-input-area:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

#user-input-button-container {
  position: absolute;
  display: flex;
  right: calc(0.85rem + 1px);
  bottom: calc(0.8rem + 1px);
}

.user-input-area button {
  width: auto;
}

#send-message {
  margin-right: 0.5rem;
}

.user-input-area button svg {
  width: 1rem;
  height: 1rem;
  display: block;
}

#user-input-text {
  border: none;
  resize: none;
  flex: 1;
  line-height: 1.2rem;
  max-height: 100px;
  margin-right: 4.75rem;
}

#user-input-text:focus {
  border: none;
  outline: none;
}