html, body {
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.solid-button {
  cursor: pointer;
  background-color: #007aff;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem;
}

.solid-button:hover {
  opacity: 0.8;
}

input {
  font-size: 0.875rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.all-container {
  display: flex;
  height: 100%;
}

/** Navigation **/

#logo {
  height: 100%;
}

nav {
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  background-color: rgb(244,244,245);
  padding: 1rem;
}

.nav-div {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.nav-div input {
  background-color: #fff;
  flex: 0 1 200px;
  border: 1px solid rgb(233,233,234);
}

.nav-div-name {
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  margin: 1rem 0;
}

.nav-div-logo {
  flex: 0 0 1.5rem;
  margin-right: 0.75rem;
}

.nav-div-heading {
  font-weight: 600;
}

.nav-div-labeled-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.nav-div-labeled-input label {
  font-weight: 500;
  font-size: 0.925rem;
  color: rgb(110,110,118);
}

.nav-div-button {
  display: flex;
  justify-content: space-around;
  margin-top: 0.25rem;
}

.nav-div-button button {
  flex: 0 1 90%;
}

/** Main **/

main {
  flex: 1;
}

main > section {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.chat-container {
	padding-top: 1rem;
  height: 100%;
	overflow: auto;
}

.chat-area {
  width: 650px;
	margin: 0 auto;
}

.chat-line {
	border: 1px solid rgb(223,223,224);
	border-radius: 10px;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
	max-width: 75%;
	clear: both;
}

.ai-chat-line {
	border-bottom-left-radius: 0;
	float: left;
}

.user-chat-line {
	border-bottom-right-radius: 0;
	float: right;
}

.chat-filler {
	clear: both;
	height: 7.5rem;
}

/** User Input **/

.user-input-container {
	background: linear-gradient(to top, #fff, #fff 50%, rgba(255,255,255,0));
  width: calc(100% - 2 * 1.2rem);
  position: absolute;
  bottom: 0;
	margin: 0 1.2rem;
	padding: 2rem 0 1.5rem;
}

.user-input-area {
	position: relative;
  width: 650px;
	margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: stretch;
  border: 1px solid #d9d9e3;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 1.25rem;
}

.user-input-area:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

#user-input-button-container {
  position: absolute;
  display: flex;
  right: calc(0.85rem + 1px);
  bottom: calc(0.8rem + 1px);
}

.user-input-area button {
  width: auto;
}

#send-message {
  margin-right: 0.5rem;
}

.user-input-area button svg {
  width: 1rem;
  height: 1rem;
  display: block;
}

#user-input-text {
  border: none;
  resize: none;
  flex: 1;
  line-height: 1.2rem;
  max-height: 100px;
  margin-right: 4.75rem;
}

#user-input-text:focus {
  border: none;
  outline: none;
}